# ignore aws creds used by S3 deploy
aws-credentials.json

# ignore aws pem and key files
*.key
*.pem

# ignore powershell files
*.ps1

# ignore config files
*.config
*_config.ps1

# ignore other cruft
.cache
*.log
.DS_Store
.serverless
.webpack
.vscode
coverage
node_modules
*.log
dump/
*.pyc
__pycache__